* { padding: 0; margin: 0; border: 0; } 
html {
    background: none repeat scroll 0 0 #FFFFFF!important;
    color: #000000;
    }
body, div, dl, dt, dd, ul, ol, li, h2, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    }
table {
    border-collapse: collapse;
    border-spacing: 0;
    }
fieldset, img {
    border: 0 none;
    }
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
    }
li {
    list-style: none outside none;
    }
caption, th {
    text-align: left;
    }
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
    }

q:before, q:after {
    content: "";
    }
abbr, acronym {
    border: 0 none;
    font-variant: normal;
    }
sup {
    vertical-align: text-top;
    }
sub {
    vertical-align: text-bottom;
    }
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    }
input, textarea, select {
    }
legend {
    color: #000000;
    }
body {
    font: 16px/1.231 '微软雅黑',arial,helvetica,clean,sans-serif;
    }
select, input, button, textarea {
    font: 99% arial,helvetica,clean,sans-serif;
    }
table {
    font-size: inherit;
    }
pre, code, kbd, samp, tt {
    font-family: monospace;
    line-height: 100%;
    }
a {
    color: black;
    text-decoration: none;
    }
a:hover, a:focus {
    text-decoration: none;
    }
strong {
    font-weight: bold;
    }
input[type="submit"] {
    cursor: pointer;
    }
button {
    cursor: pointer;
    }
.clearfix { *zoom:1; }
ul li{
    list-style-type:none:
    }
.clearfix:after{
        content: ".";
        display: block;
        height: 0; 
        clear: both;
        visibility: hidden;     
}
.center{
    width:60%;
    margin:0 auto;
}
.header .center{
    height: 100%;
}
.header{
    background-color: rgb(51,51,51);
    height: 50px;
}
.header span{
    color: #ef2322;
}
.span-width{
     width: 10%!important;
}
.unfold-li{
}
.header ul{
    position: relative;
}
.unfold-li{
    display: block;
    float: right;
    width: 60px;
    height: 50px;
}
.unfold {
    display: none;
    position: relative;
    float: left;
    top:0;
    width: 220px;
    z-index: 20;
}
.unfold div{
    margin-top: 5%;
    width: 100%;
    height: 95%;
    background-color:rgb(51,51,51) ;
}
.unfold a{
    position: relative;
    display: block;
    margin-left: 5%;
    width:40%;
    float: left;
    font-size: 18px;
    color:#ffffff;
    text-align: center;
    line-height: 30px; 
    height: 30px;
}
.unfold a:hover{
        color: red;      
    }
.unfold-a{
    width: 100%!important;
  background:url(../images/arror-bottom.png);
  background-repeat: no-repeat;
  background-position: 98% 27%;
}
.header-left-float{
    float:left;
    display: block;
    width: 65px;
    height: 46px;
    margin-top: 2px;
    background-image: url(../images/logohx.png);
    background-size:100%; 
    background-repeat: no-repeat;
}
.header-right-float-people{
    display: block;
    float:right;
    height: 50px;
    width: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/logohxpeople.png);
}
.header-right-float-search{
    position: relative;
    float:right;
    height: 50px;
    width: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/logohxsearch.png);
}
.header-right-float{
    position: relative;
    float:right;
    height: 50px;
    padding-bottom: 50px;
    width: 90px;
    font-size: 22px;
    color:#ffffff;
    text-align: center;
    line-height: 50px;
    overflow: hidden;
}
.header-right-float-wide{
    width: 130px;
}
.headline{
    color: #ef2322;
    font-size: 18px;
    float: left;
    height: 30px;
    padding: 30px 0px 10px 24px;
    background:url(../images/arror.png);
    background-position: -40px 0px;
    background-repeat: no-repeat;
}
.image-large-border{
    float: left;
    width: 33.3%;
    overflow: hidden;
}
.image-large-border2{
    position: relative;
    width: 95%;
    margin:0 auto;
    overflow: hidden;
}

.image-large-border3{
    float: left;
    width:300px;
    margin:20px;
     overflow: hidden;
}
.image-large-border2 img{
    position: relative;
    display: block;
    height: auto;
    width: 100%;
}
.image-large
{
height: auto;
width: 100%;
transition: all .5s ease-in-out;
-moz-transition:all .5s ease-in-out; /* Firefox 4 */
-webkit-transition:all .5s ease-in-out; /* Safari and Chrome */
-o-transition:all .5s ease-in-out; /* Opera */
}
.image-large:hover
{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0px 0px 18px rgba(0,0,0,.5);

}
.reward{
    display: block;
    position: absolute;
    height: 5px;
    width: 5px;
    top: 10px;
    right: 0;
    z-index: 10;
    background-image: url(../images/heartb.png);
    background-repeat: no-repeat;
}
.disreward{
    display: block;
    position: absolute;
    height: 5px;
    width: 5px;
    top: 10px;
    right: 0;
    z-index: 10;
    background-image: url(../images/heart1.png);
    background-repeat: no-repeat;
}
.main{
    position: relative;
    z-index: 1;
    background-color: #f0f0f0;
}
.left-a{
    position: absolute;
    right: 0;
    color: #b5b5b5;
    margin-top: 40px;
}
.main-passage-content{
    overflow: hidden;
    background-color: white;
}
.main-passage-content a{
    display: block;
    float: left;
    width: 33.3%;
}
.passage-a{
    background-color: #ffffff;
}
.passage-a h2{
    font-size: 18px;
    line-height: 30px;
    padding:25px 0px 15px 15px;
}
.passage-a span{
    display: block;
    color: #b5b5b5 ;
    font-size: 16px;
    padding: 15px 15px 0px 15px;
}
.passage-a p{
    line-height: 30px;
    font-size: 16px;
    padding: 15px 10px 15px 15px;
}
.main-content-content{
    background-color: #ffffff;
}

.container-div{
    display: block;
    float: left;
    width: 23%;
    margin-top: 50px;
    border-right: 1px solid #b5b5b5;
}
.container-div a{

    display: block;
    padding: 8% 5%;
}
.container-div span{
    background: url(../images/people.png);
    background-repeat: no-repeat;
    background-position: 8px 17px;
    background-size: 30px 30px;
    color: #b5b5b5;
    padding: 20px 0px 8px 50px;
}
.container-div p{
    color: #b5b5b5 ;
   padding: 15% 5%;
}
.container-left-div{
    margin-left: 4%;
}
.page-a{
    display: block;
    float: right;
    color: #b5b5b5;
    background-color:#ffffff;
    width: 2%;
    text-align:center;
    line-height: 25px;
    margin-top: 40px;
    height: 25px;

}
.page-span{
    margin: 40px 20px 0px 20px;
    width: 15%;
    height: 25px;
    line-height: 25px;
     color: #b5b5b5;
    float: right;
    padding-bottom: 20px;
}
.main-content-content input{
    border: 1px solid #b5b5b5;
    margin:0% 10%;
    width: 30%;
}
.page-a-red{
    width: 5%;
    margin-right:5%;
    background-color: #ef2322;
    color: #ffffff;
}
.page-a-width{
    width: 7%;
}
.page-span-narrow{
    text-align: center;
    margin:40px 0px 0px 10px;
    width: 2%;
}
.main-subject{
    z-index: -1;
    padding-bottom: 40px;
}
.main-subject-left{
    width: 59%;
    float: left;
}
.main-subject-right{
    width: 39%;
    float: right;
}

.main-subject-left-top a{
    float: right;
    color: #b5b5b5;
    margin-top: 40px;
}
.main-subject-left-content{
    background: #ffffff;
    height: 270px;
    overflow: hidden;
}
.main-subject-left-content ul a
{
    overflow: hidden;
    height: 25px;
    position: relative;
    display: block;
    line-height: 25px;
}
.main-subject-left-content-box
{
    height: 80%;
}
.subject-top-a{
    padding-top:  20px;
}
.main-subject-left-content ul span
{
    color: #b5b5b5;
    display: block;
    float: right;
    width: 45px;
    height: 20px;
    line-height: 20px;
    padding-right: 20px;
}

.main-subject-right-content{
    background: #ffffff;
    height: 270px;
}
.main-subject-right-content-second-a
{
    float: right!important;
}
.right-box{
    width: 70%;
    margin: 0 auto;
} 
.right-content-div
{
    margin-top: 70px;
    padding: 15px;
    background-color: rgb(250,250,250);
    float: left;
    text-align: center;
}
.right-content-div img
{
    display: block;
    width: 100%;
    height: auto;
}
.main-subject-right-content h2
{
    font-size: 18px;
    text-align: center;
}

.footer{
    height: 200px;
    background: #333;
}
.footer-narrow-center{
    margin:0 auto;
    width: 50%;
}
.footer-left{
    float: left;
    width: 59%;
}
.footer a{
    display: block;
    color: #b5b5b5;
    line-height: 30px;
    padding-bottom: 10px;
    height: 20px;
    float: left;
    width: 33%;
}
.footer-right{
    float: left;
    width: 39%;
}
.footer-right-width {
    padding-left: 9%;
    height: 20px;
    line-height: 20px;
    padding-top: 30px;
    width: 100%!important;
}
.footer-left-top
{
    padding-top: 30px;

}
.footer-right a{
    width: 30%;
    background-size: 50px 50px;
    background-position: center;
    background-repeat: no-repeat;
}
.footer-right-wchat{
    height: 50px!important;
    background:url(../images/wchat.png);  
}
.footer-right-qq{
    height: 50px!important;
    background:url(../images/qq.png);
    
}
.footer-right-massage{
    height: 50px!important;
    background:url(../images/massage.png);
}
.footer-bottom{
    color: #f0f0f0;
}
.footer-bottom p{
    text-align: center;
}
.footer-bottom img{
    height: 20px;
}
@media  (min-width:1360px) and (max-width:1410px) 
{
 .left-div{
    left: 50px;
}

.pageScroll {
    position: fixed !important;
    top: 60%;
    left: -15px;
}
.pageScroll.left {
    margin-left: 50px;
}
}
@media  (min-width:1200px) and (max-width:1370px) 
{
.center{
    width: 920px;
}
.right-box{
    width: 70%;
}
 .left-div{
    left: 10px;
}

.pageScroll {
    position: fixed !important;
    top: 60%;
    left: -15px;
}
.pageScroll.left {
    margin-left: 10px;
}
}
@media  (min-width:1100px) and (max-width:1200px) 
{
.center{
    width: 840px;
}

.passage-a h2 {
    padding: 15px 0px 5px 15px;
}
.passage-a span {
    padding: 15px 15px 0px 15px;
}
.passage-a p {
    padding: 15px 10px 5px 15px;
}

.dip{
     background-size: 70% 80%;
}
 .left-div{
    left: 5px;
}

.pageScroll {
    position: fixed !important;
    top: 60%;
    left: -15px;
}
.pageScroll.left {
    margin-left: 5px;
}
}
@media  (min-width:980px) and (max-width:1100px) 
{
.center{
    width: 710px;
}
.page-a{
    width: 2%;
}
.page-span{
    width: 15%;
}
.page-a-red{
    width: 8%;
}
.page-a-width{
    width: 8%;
}
.page-span-narrow{
    width: 1%;
}
.subject-image-a{
    width: 50%;
}
.right-box{
    width: 80%;
    margin: 0 auto;
} 
.footer-narrow-center{
    width: 80%;
}

.container-div p {
        line-height: 20px;
padding: 10px 10px 30px 10px;
}
 .left-div{
    left: 5px;
}

.pageScroll {
    position: fixed !important;
    top: 60%;
    left: -15px;
}
.pageScroll.left {
    margin-left: 5px;
}
.passage-a h2 {
    padding: 5px 0px 5px 15px;
}
.passage-a span {
    display: none;
}
.passage-a p {
    padding: 5px 10px 5px 15px;
}

.dip{
     background-size: 70% 80%;
}
}
@media  (min-width:0px) and (max-width:980px) 
{
    
    .header{
        width: 980px;
    }
    .main{
        width: 980px;
    }
    .footer{
        width: 980px;
    }
    .center{
        width: 980px;
    }
    .footer-narrow-center{
        width: 980px;
    }
}
